body{
    text-align: center;
    background-image: url('bg_banking_app.png');
    background-repeat: repeat-y;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
h1{
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 1.2rem;
    padding-left:1rem;
    word-spacing: 1.5rem;
    font-size:2.5rem;
    color: rgb(250, 246, 246);
    -webkit-text-stroke: .5px rgb(29, 41, 54);
}
h2, h3, a, p{
    font-family: 'Barlow', sans-serif;
}
#wrapper{
    width:100%;
    padding-bottom: 2rem;
}
button{
    font-size:.9rem;
    border-radius: 4rem;
    padding:10px;
    text-align: center;
}
button:hover{
    cursor: pointer;
}

.cheque-account, .savings-account, .account-profile {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgb(248, 244, 244);
    border-radius: 2rem;
    padding-top: 1rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
    padding-bottom:2.5rem;
}
.account-profile {
    width:60vw;
    margin: 0 auto;
}
.account-profile p{
    font-size: 1.2rem;
}
a {
    text-decoration: none;
}
.cheque-account, .savings-account {
    display:inline-block;
    width:60vw;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}
.savings-account{
    margin-bottom: 40px;
}
h2{
    letter-spacing: .5rem;
    padding-left: 7px;
    color: rgb(29, 41, 54);
}
.bal {
    margin-top:2rem;
    text-align: left;
}
#dep-amount-c, #dep-amount-s, #wit-amount-c, #wit-amount-s{
    font-size: 1rem;
    width: 65%;
    margin-top:1rem;
}
.dep-button-c, .dep-button-s, .wit-button-c, .wit-button-s{
    margin-top:10px;
    
}
.dep-button-c, .dep-button-s, .switch{
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(29, 41, 54);
    color:white;
    border:0;
}
.wit-button-c, .wit-button-s{
    padding-left:15px;
    padding-right:15px;
    border:0;
    background-color: white;
}

/********* Modal **********/

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0, 200, 255, 0.7);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 65vw;
    margin-top:10vh;
    margin-bottom:10vh;
    position: relative;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color: rgb(243, 243, 243);
    border-radius: 2rem;
    border: .5px solid rgb(180, 179, 179);
    padding-top:1rem;
    padding-bottom:2.5rem;
}
.close{
    transform: rotate(45deg);
    font-size: 3rem;
    position: absolute;
    top:-25px;
    right:-20px;
    background-color: rgb(243, 243, 243);
    padding: 0px 14px 4px 16px;
    border-radius: 100%;
    border: .5px solid rgb(180, 179, 179);
    display: none;
}
.close:hover{
    background-color: rgb(22, 21, 21);
    color:white;
    cursor: pointer;
}
.avatar-jane, .avatar-john{
    display:block;
}
.avatar-john{
    padding-top:11px;
}
img:hover{
    cursor: pointer;
}
.avatar-jane img{
    height:10.1rem;
}
.avatar-john img{
    height: 8.6rem;
}
.avatar-jane h3, .avatar-john h3{
    margin:0;
    letter-spacing: .3rem;
}
.avatar-jane h3{
    margin-top:-13px;
}
@media only screen and (min-width: 319px){
    h1{
        display: none;
    }
    .account-profile{
        margin-top:50px;
    }
}
@media only screen and (min-width: 760px){
    h1{
        margin-top:8vh;
        display: block;
    }
    .account-profile{
        margin-top:60px;
        width:76vw;
    }
    .cheque-account, .savings-account {
        display:inline-block;
        width:30vw;
        margin-top:45px;
        margin-left:20px;
        margin-right:20px;
    }
    .avatar-jane, .avatar-john{
        display:inline-block;
        margin-left:15px;
        margin-right:15px;
    }
}
@media only screen and (min-width: 1000px){
    h1{
        margin-top:8vh;
        display: block;
        font-size:4rem;
    }
    .account-profile{
        margin-top:90px;
        width:72vw;
    }
    .cheque-account, .savings-account {
        display:inline-block;
        width:30vw;
    }
    .avatar-jane img{
        height:13.1rem;
    }
    .avatar-john img{
        height: 11.6rem;
    }
    .avatar-jane, .avatar-john{
        margin-left:35px;
        margin-right:35px;
    }
    .modal{
        width: 58vw;
    }
}